@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.background {
    background-color: rgb(48, 48, 48);
    overflow-x: hidden;
}
#title {
    color: #94beff;
    margin-top: 300px;
    font-size: 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    background-size: 100% 100%;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
     z-index: 0;
}
#staticMenu {
    background-color: rgb(32, 32, 32);
    z-index: 1;
    position: absolute;
    top: 0px;
    height:  150px;
    width: 100vw;
    margin-left: -10px;
    visibility: visible;
    text-align: center;
}
#floatMenu {
    background-color: rgb(32, 32, 32);
    z-index: 3;
    position: fixed;
    top: 0px;
    height:  50px;
    width: 100vw;
    margin-left: -10px;
    visibility: hidden;
    text-align: center;
}
.SMButton {
    text-align: center;
    vertical-align: middle;
    border: none;
    outline: none;
    background: none;
    letter-spacing: 1px;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 55px;
    height: 40px;
    color: #ffffff;
}
.SMButton:hover {
    color: #94beff;
    border-bottom: 2px solid red;
    height: 40px;
    transform: translateY(5px);
    transition: transform 0.5s ease;
            }
.SMButton:not(:hover) {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}
.FMButton {
    text-align: center;
    vertical-align: middle;
    color: white;
    letter-spacing: 1px;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    outline: none;
    background: none;
    visibility: visible; 
    opacity: 0;
    margin-top: 15px;
    height: 20px;
}
.FMButton:hover {
    color: #94beffff;
    border-bottom: 2px solid red;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #000000;
    color: white;
    }
::-webkit-scrollbar-thumb {
background: red;
border-radius: 10px;
}
#FMHome {
    transition: opacity 0.2s ease;
}
#FMDownloads {
    transition: opacity 0.2s ease;
}
#FMProjects {
    transition: opacity 0.2s ease;
}
#FMAbout {
    transition: opacity 0.2s ease;
    }
#FMContact {
    transition: opacity 0.2s ease;
}
#FMDownloads {
    color:#94beffff;
    border-bottom: 2px solid red;
}
#SMDownloads {
    color: #94beffff;
    border-bottom: 2px solid red;
}