/*-----
---A---
-----

Requirements

    Developer Name,
    Primary Background Color,
    Tertiary Background Color,
    Primary Text Color,
    Primary Accent Text Color,
    Secondary Accent Text Color,
    Primary Grade Color
*/
#Card_Volcano {
    background-color: #290000;              // PrimaryBackground
    border-color: #ffee00;                  // PrimaryAccentText
    .productDev {
        color: #ff6f00;                     // SecondaryAccentText
    }
    .productHeader {
        color: #ffffff;                     // PrimaryText
    }
    .copyJSON {
        border-color: #ff2e2e;              // PrimaryGrade
        color: #ff2e2e;                     // PrimaryGrade
        background-color: #460101;          // TertiaryBackground
    }
    .product-image img {
        border-top: 2px solid #ff6f00;      // SecondaryAccentText
        border-bottom: 2px solid #ff6f00;   // SecondaryAccentText
    }   
}



#Card_Orion {
    background-color: #16181d;              // PrimaryBackground
    border-color: #bc6ff1;                  // PrimaryAccentText
    .productDev {
        color: #ff00c8;                     // SecondaryAccentText
    }
    .productHeader {
        color: #3d9bff;                     // PrimaryText
    }
    .copyJSON {
        border-color: #00ff00;              // PrimaryGrade
        color: #00ff00;                     // PrimaryGrade
        background-color: #20232c;          // TertiaryBackground
    }
    .product-image img {
        border-top: 2px solid #ff00c8;      // SecondaryAccentText
        border-bottom: 2px solid #ff00c8;   // SecondaryAccentText
    }   
}



#Card_Vanta {
    background-color: #000000;              // PrimaryBackground
    border-color: #6801ad;                  // PrimaryAccentText
    .productDev {
        color: #006bad;                     // SecondaryAccentText
    }
    .productHeader {
        color: #999999;                     // PrimaryText
    }
    .copyJSON {
        border-color: #009900;              // PrimaryGrade
        color: #009900;                     // PrimaryGrade
        background-color: #1c1c1c;          // TertiaryBackground
    }
    .product-image img {
        border-top: 2px solid #006bad;      // SecondaryAccentText
        border-bottom: 2px solid #006bad;   // SecondaryAccentText
    }   
}



#Card_Whisps {
    background-color: #212f45;              // PrimaryBackground
    border-color: #00bfc2;                  // PrimaryAccentText
    .productDev {
        color: #71d683;                     // SecondaryAccentText
    }
    .productHeader {
        color: #ffffff;                     // PrimaryText
    }
    .copyJSON {
        border-color: #00ff00;              // PrimaryGrade
        color: #00ff00;                     // PrimaryGrade
        background-color: #312244;          // TertiaryBackground
    }
    .product-image img {
        border-top: 2px solid #71d683;      // SecondaryAccentText
        border-bottom: 2px solid #71d683;   // SecondaryAccentText
    }   
}



#Card_MelonWater {
    background-color: #642032;              // PrimaryBackground
    border-color: #ff85de;                  // PrimaryAccentText
    .productDev {
        color: #8aff8a;                     // SecondaryAccentText
    }
    .productHeader {
        color: #d9d9d9;                     // PrimaryText
    }
    .copyJSON {
        border-color: #00c800;              // PrimaryGrade
        color: #00c800;                     // PrimaryGrade
        background-color: #803c53;          // TertiaryBackground
    }
    .product-image img {
        border-top: 2px solid #8aff8a;      // SecondaryAccentText
        border-bottom: 2px solid #8aff8a;   // SecondaryAccentText
    }   
}



#Card_HeavyGreen {
    background-color: #00331a;              // PrimaryBackground
    border-color: #00FF91;                  // PrimaryAccentText
    .productDev {
        color: #44c200;                     // SecondaryAccentText
    }
    .productHeader {
        color: #ffffff;                     // PrimaryText
    }
    .copyJSON {
        border-color: #00FF00;              // PrimaryGrade
        color: #00FF00;                     // PrimaryGrade
        background-color: #015b2f;          // TertiaryBackground
    }
    .product-image img {
        border-top: 2px solid #44c200;      // SecondaryAccentText
        border-bottom: 2px solid #44c200;   // SecondaryAccentText
    }   
}

#Card_HeavyBlue {
    background-color: #002933;              // PrimaryBackground
    border-color: #00d9ff;                  // PrimaryAccentText
    .productDev {
        color: #00c2a2;                     // SecondaryAccentText
    }
    .productHeader {
        color: #ffffff;                     // PrimaryText
    }
    .copyJSON {
        border-color: #00fbff;              // PrimaryGrade
        color: #00fbff;                     // PrimaryGrade
        background-color: #014d5b;          // TertiaryBackground
    }
    .product-image img {
        border-top: 2px solid #00c2a2;      // SecondaryAccentText
        border-bottom: 2px solid #00c2a2;   // SecondaryAccentText
    }   
}