@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.background {
    overflow-x: hidden;
    background-color: #181c1d;
}
body {
    margin: 0;
    font-family: "Varela Round", sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #000000;
    color: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #00acff;
    border-radius: 10px;
}