@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
:root {
    --BackgroundColor1: #181818;
    --BackgroundColor2: #282828;
    --BackgroundColor3: #383838;
    --BackgroundColor4: #484848;
    --BackgroundColor5: #585858;

    --TextColor1: #FFFFFF;
    --TextColor2: #B3B3B3;
    --AccentTextColor1: #CF86FF;
    --AccentTextColor2: #00ACFF;

    --GradeColor1: #00FF00;
    --GradeColor2: #00DF00;
    --GradeColor3: #59FF59;

    --MenuColor1: #585858;
    --MenuColor2: #484848;
}
.background {
    width: 320px;
    height: 200px;
    font-size: 30px;
    margin: auto;
    width: 400px;
    float:right;
    font-family: roboto;
}
.Main {
    margin: auto;
    display: flex;
    width: 60%;
    border: 5px solid #0099ff;
    padding: 10px;
    text-align: center;
    background-color: #FFFFFF;
    margin-right: 30px;
}
#PrimaryBackgroundColor {
    background-color: var(--BackgroundColor1);
}
#SecondaryBackgroundColor {
    background-color:var(--BackgroundColor2);
}
#TertiaryBackgroundColor {
    background-color:var(--BackgroundColor3);
}
#QuaternaryBackgroundColor {
    background-color: var(--BackgroundColor4);
}
#QuinaryBackgroundColor {
    background-color: var(--BackgroundColor5);
}
#PrimaryTextColor {
    color: var(--TextColor1);
}
#SecondaryTextColor {
    color: var(--TextColor2);
}
#PrimaryAccentTextColor {
    color: var(--AccentTextColor1)
}
#SecondaryAccentTextColor {
    color: var(--AccentTextColor2);
}
#PrimaryGradeColor {
    color: var(--GradeColor1);
}
#SecondaryGradeColor {
    color: var(--GradeColor2);
}
#TertiaryGradeColor {
    color: var(--GradeColor3);
}
#PrimaryMenuColor {
    background-color: var(--MenuColor1);
}
#SecondaryMenuColor {
    background-color: var(--MenuColor2);
}
h1 {
    text-align: right;
    font-size: 35px;
    color: rgb(78, 84, 116);
    margin-right: 30px;
}
h2 {
    text-align: left;
    font-size: 34px;
    color: rgb(255, 255, 255);
}
.newBr {
    margin-top: 200px;
}
html {
    background-color: #242424;
    font-family: roboto;
}
div#sticky {
    position: -webkit-sticky;
    position: fixed; width: 100%;
    background-color: #545454;
    font-size: 20px;
    width: 28%;
    margin: auto;
    height: 100%;
    top: 0px;
    float: left;
    overflow: auto;
    left: 0;
}
.Category {
    text-align: left;
    margin-left: 20px;
    color: #89affc;
    font-weight: bold;
    font-size: 25px;
}
input {
    margin-left: 50px;
    margin-right: 50px;
}
input.colorInputs {
    float: right;
}
#Inputs {
    position: relative;
    text-align: center;
}
#ConfirmButton {
    background-color: #00af00;
    width: 150px;
    height: 60px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;  
}
#copiedText {
    float: left;
    width: 10%;
    margin: auto;
    margin-top: 90px;
    color: #00FF00;
    font-size: 15px;
    opacity: 0%;
}
#loadedText {
    float: left;
    width: 10%;
    margin: auto;
    margin-top: 90px;
    color: #00FF00;
    font-size: 15px;
    opacity: 0%;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #181818;
}
::-webkit-scrollbar-thumb {
    background: #0099ff;
}
::-webkit-scrollbar-thumb:hover {
    background: #0099ff;
}
div#sticky::-webkit-scrollbar {
    width: 10px;
}
div#sticky::-webkit-scrollbar-track {
    background: #181818;
}
div#sticky::-webkit-scrollbar-thumb {
    background: #0099ff;
}
div#sticky::-webkit-scrollbar-thumb:hover {
    background: #0099ff;
}