
#product-body {
    width:85%;
    margin-top:1em;
    font-size: 25px;
    display:inline-block;
    text-align: center;
}
#product-wrapper {
    text-align: center;
}
#rate-wrapper {
    width:100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #FFFFFF;
    font-size: 25px;
    padding-bottom:1em;
}
#rate-title {
    font-size:18px;
}
#rate-properties {
    display: flex;
    justify-content: center;
    align-items: center;
}
#rating-score {
    padding:0.4em;
    font-size:20px;
    color:#eee9d1;
}
.rate {
    height: 46px;
    display: flex;
    flex-direction: row-reverse;
  align-items: center
}
.rate:not(:checked) > input {
    display:none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:rgb(167, 167, 167);
    transition: all .1s ease-in-out;
}
.rate:not(:checked) > label:before {
    transition: all .1s ease-in-out;
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc444;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    transform: scale(1.3);
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #d8af1d;
}


.nav-wrapper {
    background-color: #383838;
}

#NAV {
    margin: auto;
    display: flex;
    padding: 1em 1em 1em 1em;
}

.button-wrapper {
    width: 100%;
    display: flex;
    padding: 1em;
}

.search-buttons {
    color: #ffffff;
    background-color: #282828;
    border-radius: 15px;
    width: auto;
    margin: 0.4em;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    border: 2px solid #00ACFF;
    padding: 1em;
    transition: all .2s ease-in-out;
}

#all-themes:hover {
    background-color: #5e366d;
    border-color: #b697c9;
    cursor: pointer;
    transform: scale(1.1);
}

.search-wrapper {
    align-items: right;
    justify-content: right;
    text-align: right;
    padding: 1em;
}

#search {
    color: #ffffff;
    background-color: #282828;
    font-size: 15px;
    width: 250px;
    border-radius: 15px;
    outline: none;
    border: 2px solid #00ACFF;
    padding: 1em;
    margin: 0.4em;
}

#search::placeholder {
    color: #a3a3a3;
}

@media (max-width: 1020px) {
    .button-wrapper {
        overflow-x: scroll;
    }
}

@media (max-width:1360px) {
    #search {
        height:68px;
    }
}

@media (max-width:1300px) {
    #product-statistics-wrapper {
        display: none;
    }
    #product-details-wrapper {
        width:100%!important;
    }
}

#product-head {
    align-items:baseline;
    width: 65%;
    display:inline-block;
    background-color: #282828;
    margin-top:1em;
    border: 4px solid #797979;
    border-radius: 14px 14px 0px 0px;
}

#product-title-wrapper {
    align-items:flex-end;
    display:flex;
    padding: 1em;
}

#product-title {
    color:#FFFFFF;
    font-size:40px;
    margin:0;
}

#product-developer {
    color:#CF86FF;
    font-size:14px;
    margin-left: 1em;
    margin-top:1em;
    width:450px;
    text-align: left;
}

#product-image {
    max-width: 65%;
    height: auto;
    border-left: 4px solid #797979;
    border-right: 4px solid #797979;
    display:block;
    margin:auto;
}

#product-details {
    width: 65%;
    text-align: center;
    display:inline-block;
    margin-bottom: 2em;
    border: 4px solid #797979;
    border-radius:0px 0px 14px 14px;
}

#product-details-wrapper {
    padding:1em;
    display:inline-block;
    width:60%;
}

#product-statistics-wrapper {
    background-color:#383838;
    width:40%;
    border-left: 4px solid #797979;
    border-radius: 0px 10px 10px 0px;
}

#product-description-wrapper {
    text-align: left;
    line-height: 1.5em;
    display:flex;
    background-color:#282828;
    border-radius: 14px;
}

#product-description {
    color: #C9C9C9;
    height:80%;
    padding:0;
    margin:0;
    font-size: 14px;
}

#product-code {
    color: #ffffff;
    background-color: #282828;
    border-radius: 15px;
    width: auto;
    margin: 0.4em;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    border: 2px solid #00ACFF;
    padding: 1em;
    transition: all .2s ease-in-out;
    width:auto;
}

#product-code:hover {
    background-color: #5e366d;
    border-color: #b697c9;
    cursor: pointer;
    transform: scale(1.1);
}

#product-code-wrapper {
    text-align: right;
    width:100%;
}

.product-statistics-key {
    color:#CF86FF;
    font-size: 14px;
}

.product-statistics-value {
    color:#00ACFF;
    font-size: 14px;
}

#product-statistics-wrapper {
    padding-top:2em;
    padding-bottom:2em;
    padding: 2em;
    font-size: 18px;
}

#primary-color {
    background-color:#290000;
}

#secondary-color {
    background-color:#370101;
}

#tertiary-color {
    background-color:#460101;
}

#quaternary-color {
    background-color:#570000;
}

#quinary-color {
    background-color:#6b0000;
}

.product-statistics-head {
    color:#FFFFFF;
}

#product-statistics {
    color: #FFFFFF;
    font-size:14px;
}
#product-statistics-accent {
    color: #acacac;
    font-size:14px;
    padding-left: 1em;
}