@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.background {
    overflow-x: hidden;
    background-color:#181818;
}
h1 {
    color: #ffffff;
    margin-top: 300px;
    font-size: 150px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    background-image: url("https://docs.google.com/drawings/d/e/2PACX-1vTRwnlreP18z95MEMruFAyr6_MVDmzaafm7wqiLrd1tIz75pt6-CRR5xPLXgcay3j_ddkdtvTIdOZw0/pub?w=1920&h=1080");
    background-size: 100% 100%;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
     color: transparent;
     z-index: 0;
}
#descF {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    text-align: center;
    color: white;
    margin-bottom: 150px;
}
#staticMenu {
    background-color: #484848;
    z-index: 1;
    position: absolute;
    top: 0px;
    height:  150px;
    width: 100vw;
    margin-left: -10px;
    visibility: visible;
    text-align: center;
}
#floatMenu {
    background-color: #484848;
    z-index: 3;
    position: fixed;
    top: 0px;
    height:  50px;
    width: 100vw;
    margin-left: -10px;
    visibility: hidden;
    text-align: center;
}
.SMButton {
    text-align: center;
    vertical-align: middle;
    border: none;
    outline: none;
    background: none;
    letter-spacing: 1px;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 55px;
    height: 40px;
    color: #ffffff;
}
.SMButton:hover {
    color: #CF86FF;
    border-bottom: 2px solid #00ACFF;
    height: 40px;
    transform: translateY(5px);
    transition: transform 0.5s ease;
            }
.SMButton:not(:hover) {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}
.FMButton {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    letter-spacing: 1px;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    outline: none;
    background: none;
    visibility: visible; 
    opacity: 0;
    margin-top: 15px;
    height: 20px;
}
.FMButton:hover {
    color: #CF86FF;
    border-bottom: 2px solid #00ACFF;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #000000;
    color: #ffffff;
    }
::-webkit-scrollbar-thumb {
background: #00ACFF;
border-radius: 10px;
}
.FMButton {
    transition: opacity 0.2s ease;
}
#FMCl {
    color:#CF86FF;
    border-bottom: 2px solid #00ACFF;
}
#SMCl {
    color:#CF86FF;
    border-bottom: 2px solid #00ACFF;
}
body {
    margin-bottom: 1000px;
}